DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgre
DB_NAME=tasks_db

JWT_SECRET=cambia-este-secreto-en-produccion
JWT_ACCESS_TTL_SECS=3600
JWT_REFRESH_TTL_SECS=604800

ADMIN_INITIAL_PASSWORD=changeme
